<!DOCTYPE html>
<!--<html lang="en">-->
<!--<head>-->
<!--    <script src="../js/vue.js"></script>-->
<!--    <script src="../js/axios-0.18.0.js"></script>-->
<!--    <script src="../element-ui/lib/index.js"></script>-->
<!--    <script src="../js/common.js"></script>-->
<!--    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">-->
<!--    <link rel="stylesheet" href="../css/base.css">-->
<!--    <link rel="stylesheet" href="../css/common.css">-->
<!--    <link rel="icon" href="../configImage/favicon.png">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>往期回顾</title>-->
<!--    <style>-->
<!--        .textbox p{-->
<!--            line-height: 2;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div id="app" style="margin: 0 auto">-->
<!--&lt;!&ndash;    工具栏&ndash;&gt;-->
<!--    <div style="position:fixed;left:0;top:0;width:100%;height:60px;box-shadow:0 10px 10px 0 rgba(0,0,0,.05);background-color:#FFFFFF" class="top">-->
<!--        &lt;!&ndash;        小图标&ndash;&gt;-->
<!--        <img src="../configImage/subicon.png" style="height: 100%;float: left">-->
<!--        &lt;!&ndash;        搜索栏&ndash;&gt;-->
<!--&lt;!&ndash;       删了&ndash;&gt;-->
<!--        &lt;!&ndash;   靠右 小程序入口（二维码）、我的课程、登录/注册&ndash;&gt;-->
<!--        <div style="float: right;">-->
<!--            <a class="item" id="xiaochengxu" href="#" style="vertical-align: top">-->
<!--                <img src="../configImage/xiaochengxu.png">-->
<!--                <p>小程序</p>-->
<!--                <div style="float: bottom;background-color: white">-->
<!--                    <img src="../configImage/xiaochengxu.png">-->
<!--                </div>-->
<!--            </a>-->
<!--&lt;!&ndash;            <a class="item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="../configImage/wodekecheng.png">&ndash;&gt;-->
<!--&lt;!&ndash;                <p>课程</p>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--            <a class="item" href="#">-->
<!--                <img src="../configImage/weidenglu.png">-->
<!--                <p>登录</p>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div style="margin: 80px auto;width:85%;border-radius: 20px;background-color: white;padding-bottom: 50px">-->

<!--        <div style="width: 85%;margin: 0 auto" class="textbox">-->
<!--            <h1 style="text-align: center;font-size: 34px;line-height: 2.5">往期回顾标题</h1>-->
<!--            <hr style="height: 5px;background-color: red"/>-->
<!--            <img src="#" style="width: 90%;margin: 20px">-->
<!--            <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>-->

<!--        </div>-->

<!--    </div>-->


<!--</div>-->
<!--<script>-->
<!--    new Vue({-->
<!--        el : "#app",-->
<!--        mounted(){-->

<!--        },-->
<!--        methods:{-->

<!--        },-->
<!--        data() {-->
<!--            return{-->

<!--            }-->
<!--        }-->
<!--    })-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
