<!DOCTYPE html>
<html lang="en">
<!--全部动态获取-->
<head>
    <script src="../js/vue.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="icon" href="../configImage/favicon.png">

    <meta charset="UTF-8">
    <title>个人中心</title>
    <style>

    </style>
</head>
<body>
<div id="app">


</div>
<script>
    new Vue({
        el : "#app",
        mounted(){

        },
        methods:{

        },
        data() {
            return{

            }
        }
    })
</script>
</body>
</html>